@use "../custom" as *;
@use "../components/mixins" as *;

.services {
  &__content {
    .icon {
      font-size: 2.5rem;
      color: $primary;
      padding-top: 9rem;
      @include media-breakpoint-down(md) {
        padding-top: 1rem;
      }
    }
  }
}

#service-section-container {
  .row {
    @include media-breakpoint-down(lg) {
      padding-top: 1rem;
    }
  }
}

#middle-left {
  @include media-breakpoint-down(md) {
    order: 2;
  }
}

#middle-right {
  @include media-breakpoint-down(md) {
    order: 1;
  }
}
